.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.container1 {
    width: 30%;
    margin: 13% 33%;
    background: #F2F2F2;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

// .image-bg {
//     background: #2D2E2E;
//     border-radius: 6px;
// }
// .heading {
//     font-size: 19px;
//     margin-left: 5px;
//     color: rgb(184, 190, 196);
//     font-weight: bold;
//     text-decoration: underline;
// }
p {
    text-align: center;
}

#Emailmargin {
    margin-top: 30px;
    margin-left: 8px;
}

#passwordmargin {
    margin-left: 8px;
}

#personsize {
    font-size: 30px;
    color: #551a8b;
}

#eyesize {
    font-size: 25px;
    color: #551a8b;
}

.button-row {
    margin-left: 10px;
    text-align: center;
}

.buttonstyle {
    background-color: #551a8b;
    color: aliceblue;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 210px;
    font-size: 15px;
    // margin-left: 15px;
}

.buttonstyle:hover {
    background-color: rgb(156, 109, 202);
}

.buttonstyle:disabled {
    background: #6a4e85;
    color: #b7afbe;
}

#center {
    text-align: center;
    color: #551a8b;
    margin-left: 120px;
    text-decoration: none;
}

.mat-error {
    color: red;
}

.invalid-message {
    text-align: center;
}