<app-login-menu></app-login-menu>
<div class="container">
    <!--<div class="image-bg">
        <img src="assets/images/Ambertag_logo.jpeg" width=50px; height=50px;>
        //<span class="heading"> AmberTAG Analytics pvt ltd.</span>
    </div>-->
    <app-alerts></app-alerts>

    <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
        <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
    </ngx-spinner>

    <div id="content">
        <div class="container1">
            <p>
                <mat-form-field id="Emailmargin" appearance="legacy">
                    <mat-label>EmailID</mat-label>
                    <input matInput #EmailID [formControl]="email" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-icon id="personsize" matSuffix>person</mat-icon>
                </mat-form-field><br><br>

                <mat-form-field id="passwordmargin" appearance="legacy" hintLabel="Min 8 characters">
                    <mat-label>Password</mat-label>
                    <input matInput #Password maxlength="15" [formControl]="password" [errorStateMatcher]="matcher" required [type]="hide ? 'password' : 'text'">
                    <mat-hint align="end">{{Password.value?.length || 0}}/15</mat-hint>
                    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-icon id="eyesize" matSuffix (click)="hide=! hide ">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
            </p><br>

            <mat-error class="invalid-message" *ngIf="email.invalid || password.invalid">{{password_error || id_error}}</mat-error>
            <br>
            <div class="button-row">
                <button class="buttonstyle" [disabled]="email.invalid || password.invalid" mat-button color="primary" (click)="postCredentials(EmailID.value,Password.value)">Login</button>
            </div><br>

            <a id="center"><b>Forgot Password?</b></a>
        </div>
    </div>
</div>