<div id="container">
    <app-home></app-home>

    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/skills" routerLinkActive="active">Add Skills /</a>
            <a routerLink="/myskills" routerLinkActive="active">My Skills /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>My Skills</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-subtitle>Ratings Disclaimer: 1-Being the Least, 10-Being the Highest</mat-card-subtitle>
                <mat-card-content>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                            <!-- Id Column -->
                            <ng-container matColumnDef="skill_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <strong>Name</strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.skill_name}} </td>
                            </ng-container>

                            <!-- Title Column -->
                            <ng-container matColumnDef="evaluator_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <strong>Evaluator Name</strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.evaluator_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="rating">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <strong>Rating</strong>
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>