.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 60%;
    margin-top: 30px;
    margin-left: 5%;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 12px;
    padding: 5px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    color: #003358;
    margin-left: 10px;
}

mat-card-subtitle {
    margin-left: 20px;
    font-size: 10px;
}

.mat-elevation-z8 {
    width: 100%;
}

th {
    background: #003358;
    color: #fff;
}

.mat-cell {
    font-size: 12px;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.mat-header-cell {
    color: white;
    font-size: 12px;
}

tr.mat-header-row {
    height: 40px;
}

tr.mat-row {
    height: 40px;
}

th.mat-header-cell:first-child {
    border-top-left-radius: 7px;
}

th.mat-header-cell:last-child {
    border-top-right-radius: 7px;
}

.mat-paginator {
    border-bottom: 1px solid rgba(105, 103, 103, 0.54);
}

a {
    font-size: 12px;
    margin-right: 5px;
    color: #003358;
    font-weight: bold;
    text-decoration: none;
}

.mat-toolbar {
    height: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #fff;
}

a:hover {
    border-bottom: 3px solid #003358;
}

.active {
    border-bottom: 3px solid #003358;
}