<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/skill_assess" routerLinkActive="active">Skill Evaluation /</a>
            <a routerLink="/skill_ratings" routerLinkActive="active">Skill Ratings /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Skill Ratings</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-subtitle>Ratings Disclaimer: 1-Being the Least, 10-Being the Highest</mat-card-subtitle>
                <mat-card-content>
                    <mat-form-field>
                        <mat-select #skilldetail placeholder="Skills" [formControl]="skill">
                            <mat-option *ngFor="let skill of skills" [value]="skill.skill_id">{{skill.skill_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="number" matInput #rate onKeyPress="if(this.value.length==2) return false;" [formControl]="rating" min="0" max="10" placeholder="Rate">
                    </mat-form-field>
                    <button mat-button (click)="serachSkillRate(skilldetail.value,rate.value)">
                  <mat-icon matSuffix>search</mat-icon>Search</button>
                    <div class="mat-elevation-z8">

                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                            <!-- Id Column -->
                            <ng-container matColumnDef="emp_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Employee ID
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
                            </ng-container>

                            <!-- Title Column -->

                            <ng-container matColumnDef="emp_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Employee Name
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.emp_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="skill_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Skill Name
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.skill_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="rating">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Rating
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
                            </ng-container>

                            <ng-container matColumnDef="evaluated_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Date
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.evaluated_at}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>