<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/interviewer" routerLinkActive="active">Select Interviewer /</a>
            <a routerLink="/interviewresults" routerLinkActive="active">Interview Results /</a>
            <a routerLink="/add_employee" routerLinkActive="active">Add New Employee /</a>
            <a routerLink="/add_new_designation" routerLinkActive="active">Add New Designation /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Add New Employee</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="15:1" gutterSize=6px>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Employeename [formControl]="empname" [errorStateMatcher]="matcher" placeholder="Employe Name" required>
                                    <mat-error *ngIf="empname.invalid">Field is required</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Firstname [errorStateMatcher]="matcher" [formControl]="firstname" required placeholder="First Name">
                                    <mat-error *ngIf="firstname.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #EmployeeID maxlength="13" [errorStateMatcher]="matcher" [formControl]="empid" required placeholder="Employee ID">
                                    <mat-hint align="end">{{EmployeeID.value?.length || 0}}/13</mat-hint>
                                    <mat-error *ngIf="empid.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <mat-select #Designation placeholder="Designation" [formControl]="designation1" [errorStateMatcher]="matcher" required>
                                        <mat-option *ngFor="let designation of designations" [value]='designation.designation_id'>{{designation.designation}}</mat-option>
                                        
                                    </mat-select>
                                    <mat-error *ngIf="designation1.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <!-- <mat-form-field>
                                    <input matInput #Dateofjoining placeholder="Date of Joining (YYYY-MM-DD)" [errorStateMatcher]="matcher" [formControl]="date_of_joining" required>
                                    <mat-error *ngIf="date_of_joining.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field> -->

                                <mat-form-field class="example-full-width">
                                        <input matInput #Dateofjoining [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Date of Joining" [errorStateMatcher]="matcher" [formControl]="date_of_joining" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="date_of_joining.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>

                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #EmailIDpersonal [errorStateMatcher]="matcher" placeholder="Email-Id (Personal)" [formControl]="email" required>
                                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #EmailID [errorStateMatcher]="matcher" placeholder="Email ID (Official)" [formControl]="emailid" required>
                                    <mat-error *ngIf="emailid.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input type=number matInput onKeyPress="if(this.value.length==10) return false;" #Phonenumber [errorStateMatcher]="matcher" [formControl]="phone_no" required placeholder="Phone Number">
                                    <mat-hint align="end">{{Phonenumber.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="phone_no.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input type=number matInput #Alternativephonenumber onKeyPress="if(this.value.length==10) return false;" [errorStateMatcher]="matcher" [formControl]="alt_phone_no" required placeholder="Alternative Phone Number">
                                    <mat-hint align="end">{{Alternativephonenumber.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="alt_phone_no.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #PANnumber [errorStateMatcher]="matcher" [formControl]="pan_no" required placeholder="PAN Number">
                                    <mat-hint align="end">{{PANnumber.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="pan_no.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input type=number matInput #Aadharnumber onKeyPress="if(this.value.length==12) return false;" [errorStateMatcher]="matcher" [formControl]="aadhar_no" required placeholder="Aadhar Number">
                                    <mat-hint align="end">{{Aadharnumber.value?.length || 0}}/12</mat-hint>
                                    <mat-error *ngIf="aadhar_no.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Fathername [errorStateMatcher]="matcher" [formControl]="father_name" required placeholder="Father Name">
                                    <mat-error *ngIf="father_name.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input type=number matInput #Fathernumber onKeyPress="if(this.value.length==10) return false;" [errorStateMatcher]="matcher" [formControl]="father_no" placeholder="Father Phone Number">
                                    <mat-hint align="end">{{Fathernumber.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="father_no.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Mothername [errorStateMatcher]="matcher" [formControl]="mother_name" required placeholder="Mother Name">
                                    <mat-error *ngIf="mother_name.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input type=number matInput #Mothernumber onKeyPress="if(this.value.length==10) return false;" [errorStateMatcher]="matcher" [formControl]="mother_no" placeholder="Mother Phone Number">
                                    <mat-hint align="end">{{Mothernumber.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="mother_no.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input type=number matInput #Emergencynumber onKeyPress="if(this.value.length==10) return false;" [errorStateMatcher]="matcher" [formControl]="emergency_no" required placeholder="Emergency Contact Number">
                                    <mat-hint align="end">{{Emergencynumber.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="emergency_no.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Gender [errorStateMatcher]="matcher" [formControl]="gender" required placeholder="Gender">
                                    <mat-error *ngIf="gender.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <!-- <mat-form-field>
                                    <input matInput #Dateofbirth [errorStateMatcher]="matcher" [formControl]="date_of_birth" required placeholder="Date of Birth (YYYY-MM-DD)">
                                    <mat-error *ngIf="date_of_birth.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field> -->
                                <mat-form-field class="example-full-width">
                                        <input matInput #Dateofbirth [matDatepickerFilter]="myFilter" [matDatepicker]="pickerto" placeholder="Date of birth" [errorStateMatcher]="matcher" [formControl]="date_of_birth" required>
                                        <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerto></mat-datepicker>
                                        <mat-error *ngIf="date_of_birth.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>

                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <textarea matInput #Permanentaddress [errorStateMatcher]="matcher" [formControl]="permanent_address" required placeholder="Permanent Address"></textarea>
                                    <mat-error *ngIf="permanent_address.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <textarea matInput #Residentialaddress [errorStateMatcher]="matcher" [formControl]="residential_address" required placeholder="Residential Address"></textarea>
                                    <mat-error *ngIf="residential_address.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Qualification [errorStateMatcher]="matcher" [formControl]="qualification" required placeholder="Qualification">
                                    <mat-error *ngIf="qualification.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Bloodgroup [errorStateMatcher]="matcher" [formControl]="blood_group" required placeholder="Blood group">
                                    <mat-error *ngIf="blood_group.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Worktimings [errorStateMatcher]="matcher" [formControl]="work_timings" required placeholder="Working Period of Timings">
                                    <mat-error *ngIf="work_timings.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                <mat-form-field>
                                    <input matInput #Maritalstatus [errorStateMatcher]="matcher" [formControl]="marital_status" required placeholder="Marital Status">
                                    <mat-error *ngIf="marital_status.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list><br>

                    <mat-error class="invalid-message">{{status}}</mat-error><br>
                    <button mat-button [disabled]="empname.invalid || firstname.invalid || empid.invalid || designation1.invalid || date_of_joining.invalid || email.invalid || emailid.invalid || phone_no.invalid || alt_phone_no.invalid || pan_no.invalid || aadhar_no.invalid || father_name.invalid || father_no.invalid || mother_name.invalid || mother_no.invalid || emergency_no.invalid || gender.invalid || date_of_birth.invalid || permanent_address.invalid || residential_address.invalid || qualification.invalid || blood_group.invalid || work_timings.invalid || marital_status.invalid"
                        (click)="addEmployee(Employeename.value,Firstname.value,EmployeeID.value,Designation.value,Dateofjoining.value,EmailIDpersonal.value,EmailID.value,Phonenumber.value,Alternativephonenumber.value,PANnumber.value,Aadharnumber.value,Fathername.value,Fathernumber.value,Mothername.value,Mothernumber.value,Emergencynumber.value,Gender.value,Dateofbirth.value,Permanentaddress.value,Residentialaddress.value,Qualification.value,Bloodgroup.value,Worktimings.value,Maritalstatus.value)"><mat-icon id="submit" matSuffix>input</mat-icon>submit</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>