<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/all_skills" routerLinkActive="active">Skill Detail /</a>
            <a routerLink="/add_new_skill" routerLinkActive="active">Add New Skill /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Add New Skill</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput #skill [errorStateMatcher]="matcher" [formControl]="skill1" required placeholder="Skill Name">
                        <mat-error *ngIf="skill1.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button mat-button [disabled]="skill1.invalid" (click)="newskill(skill.value)">
                        <mat-icon matSuffix>library_add</mat-icon>ADD</button><br>
                    <mat-error class="invalid-message">{{status}}</mat-error><br>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>