// mat-form-field {
//     margin-right: 15px;
// }
a {
    font-size: 12px;
    margin-right: 5px;
    color: #003358;
    font-weight: bold;
    text-decoration: none;
}

button[disabled][disabled] {
    color: grey;
}

.mat-toolbar {
    height: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #fff;
}

a:hover {
    border-bottom: 3px solid #003358;
}

.active {
    border-bottom: 3px solid #003358;
}

.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 80%;
    margin-top: 30px;
    position: absolute;
    margin-left: 5%;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 12px;
    padding: 5px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    color: #003358;
    margin-left: 10px;
}

.mat-elevation-z8 {
    width: 100%;
    overflow-x: scroll;
    // height: 80%;
    // overflow-y: scroll;
}

th {
    background: #003358;
    color: #fff;
}

.mat-cell {
    font-size: 10px;
    // text-align: center;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    // border-right: 1px solid #dddddd;
}

.mat-header-cell {
    color: white;
    font-size: 11px;
    background: #003358;
    min-height: 40px !important;
}

mat-header-row {
    min-height: 30px;
}

tr.mat-header-row {
    height: 20px;
}

tr.mat-row {
    height: 40px;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 8px !important;
}

mat-form-field {
    margin-left: 2% !important;
}

button {
    background: #003358;
    color: #fff;
    height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.mat-button {
    min-width: 95px !important;
    border-radius: 7px;
    line-height: 23px !important;
    margin-left: 2% !important;
    margin-bottom: 2% !important;
    margin-top: 4% !important;
}

// .mat-form-field {
//     width: 250px !important;
// }
.mat-checkbox-inner-container {
    height: 10px;
    width: 10px;
}

mat-icon {
    font-size: 16px;
    line-height: 20px;
}

.skill {
    margin-right: 3%;
}
