<div id="container">
    <app-home></app-home>

    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/manager_project_details" routerLinkActive="active" *ngIf="manager">My Projects /</a>
            <a routerLink="/all_projects" routerLinkActive="active" *ngIf="hr">Projects /</a>
            <a routerLink="/addproject" routerLinkActive="active">Add New Project /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Add New Project</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput #projectname [formControl]="project_name" [errorStateMatcher]="matcher" required placeholder="Project Name">
                        <mat-error *ngIf="project_name.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select #manager placeholder="Manager" [formControl]="Manager" [errorStateMatcher]="matcher" required>
                            <mat-option *ngFor="let manager of managers" [value]="manager.emp_id">{{manager.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Manager.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select #seniormanager placeholder="Senior_manager" [formControl]="Senior_Manager" [errorStateMatcher]="matcher" required>
                            <mat-option *ngFor="let manager of managers" [value]="manager.emp_id">{{manager.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Senior_Manager.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select #skilldetail placeholder="Skills" [formControl]="skill" [errorStateMatcher]="matcher" required multiple>
                            <mat-option *ngFor="let skill of skills" [value]="skill">{{skill.skill_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="skill.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                            <input matInput #date [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    <button mat-button [disabled]="project_name.invalid || Manager.invalid || Senior_Manager.invalid" (click)="postProject(projectname.value,manager.value,seniormanager.value,skilldetail.value,date.value)"><mat-icon matSuffix>input</mat-icon>submit</button>

                    <br>
                    <br>
                    <mat-form-field>
                        <mat-select #skillsearch placeholder="Skills" [formControl]="skillID" required multiple>
                            <mat-option *ngFor="let skill of skills" [value]="skill">{{skill.skill_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="skill.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button mat-button [disabled]="skill.invalid" (click)="postSkillId(skillsearch.value)"><mat-icon matSuffix>search</mat-icon>Search</button>
                    <br><br>
                    <mat-table #table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="checked">
                            <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell class="skill" *matCellDef="let group">{{ group.name }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="emp_id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</mat-header-cell>
                            <mat-cell *matCellDef="let group">{{ group.emp_id }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="skill">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Skills</mat-header-cell>
                            <mat-cell class="skill" *matCellDef="let group">{{ group.skill }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="projects">
                            <mat-header-cell *matHeaderCellDef>Projects</mat-header-cell>
                            <mat-cell *matCellDef="let group">{{ group.projects }}</mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row.emp_id,row.checked)"></mat-row>
                    </mat-table>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>