.appname {
    color: #003358;
    font-size: 32px;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 5px;
}

.style {
    color: rgb(180, 30, 30);
}

.menu {
    padding: 0px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    z-index: 1002;
    height: 50px;
}