button[disabled][disabled] {
    color: grey;
}

.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
}

.mat-form-field {
    margin-left: 2%;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 12px;
    padding: 5px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    margin-left: 10px;
    color: #003358;
}

button {
    background: #003358;
    color: #fff;
    height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.mat-button {
    min-width: 95px !important;
    border-radius: 7px;
    line-height: 23px !important;
    margin-left: 2% !important;
    margin-bottom: 2% !important;
}

.mat-button:hover {
    background: #2471b4;
}

mat-icon {
    font-size: 16px;
    line-height: 20px;
}

.mat-elevation-z8 {
    width: 100%;
}

th {
    background: #003358;
    color: #fff;
}

pre {
    background: none !important;
    font-size: 10px;
}

.mat-accordion[_ngcontent-c2],
.mat-header-row[_ngcontent-c2] {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.mat-expansion-panel-header.mat-row {
    border-bottom: none;
}

$mat-header-row-height: 35px;
$mat-row-height: 30px;
$mat-row-horizontal-padding: 12px;
.mat-table {
    display: block;
    margin-bottom: 100px;
    margin-top: 2%;
}

.mat-header-row {
    min-height: $mat-header-row-height;
    background-color: #003358;
    height: 45px;
}

.mat-row {
    min-height: $mat-row-height;
}

.mat-row,
.mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
    &::after {
        display: inline-block;
        min-height: inherit;
        content: '';
    }
}

.mat-cell {
    font-size: 12px;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.mat-header-cell {
    color: white;
    font-size: 12px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

a {
    font-size: 12px;
    margin-right: 5px;
    color: #003358;
    font-weight: bold;
    text-decoration: none;
}

.mat-toolbar {
    height: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #fff;
}

a:hover {
    border-bottom: 3px solid #003358;
}

.active {
    border-bottom: 3px solid #003358;
}