<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/all_projects" routerLinkActive="active">Projects /</a>
            <a routerLink="/addproject" routerLinkActive="active">Add New Project /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Project Details</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <mat-select #projectdetails placeholder="Projects" [errorStateMatcher]="matcher" required [formControl]="projects_list" multiple>
                            <mat-option *ngFor="let project_det of project" [value]="project_det">{{project_det.project_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="projects_list.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button mat-button [disabled]="projects_list.invalid" (click)="postProjectid(projectdetails.value)"><mat-icon matSuffix>search</mat-icon>Search</button>

                    <mat-accordion displayMode="flat" multi class="mat-table">
                        <section matSort class="mat-elevation-z2 mat-header-row">
                            <span class="mat-header-cell" mat-sort-header="Project Name">Project</span>
                            <span class="mat-header-cell" mat-sort-header="Project Manager">Manager</span>
                            <span class="mat-header-cell" mat-sort-header="Manager Email Id">Email ID</span>
                            <span class="mat-header-cell" mat-sort-header="Started Date">Started Date</span>
                            <span class="mat-header-cell" mat-sort-header="Project Status">Status</span>
                            <span class="mat-header-cell" mat-sort-header="Completed Date">Completed Date</span>
                            <span class="mat-header-cell" mat-sort-header="Primary Cost Center">Primary Cost Center</span>
                            <span class="mat-header-cell" mat-sort-header="Secondary Cost Center">Secondary Cost Center</span>
                        </section>

                        <mat-expansion-panel *ngFor="let element of projects">
                            <mat-expansion-panel-header class="mat-row">
                                <span class="mat-cell">{{element.project_name}}</span>
                                <span class="mat-cell">{{element.manager_name}}</span>
                                <span class="mat-cell">{{element.manager_email_id}}</span>
                                <span class="mat-cell">{{element.started_on}}</span>
                                <span class="mat-cell">{{element.project_status}}</span>
                                <span class="mat-cell">{{element.completed_on}}</span>
                                <span class="mat-cell">{{element.primary_cost_center}}</span>
                                <span class="mat-cell">{{element.secondary_cost_center}}</span>
                            </mat-expansion-panel-header>
                            <pre> 
                                <p><strong>Team Details</strong></p>
                                      <table>
                                      <thead>
                                      <tr>
                                          <th>Employee Name</th>
                                          <th>Employee ID</th>
                                          <th>Email ID</th>
                                          <th>Phone No.</th>
                                          <th>Project Contribution %</th>
                                      </tr>
                                      </thead>
                                 
                                     <tbody *ngFor="let item of element.emp_details">
                                      <tr>
                                      <td>{{item.emp_name}}</td>
                                      <td>{{item.emp_id}}</td>
                                      <td>{{item.email_id}}</td>
                                      <td>{{item.phone_number}}</td>
                                      <td>{{item.project_contribution}}</td>
                                      </tr>
                                      </tbody> 
                                      </table>
                                  </pre>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>