<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/interviewer" routerLinkActive="active">Select Interviewer /</a>
            <a routerLink="/interviewresults" routerLinkActive="active">Interview Results /</a>
            <a routerLink="/add_employee" routerLinkActive="active">Add New Employee /</a>
            <a routerLink="/add_new_designation" routerLinkActive="active">Add New Designation /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Select Interviewer</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <mat-select #interviewer placeholder="Interviewers" [formControl]="interviwers1" multiple [errorStateMatcher]="matcher" required>
                            <mat-option *ngFor="let interviwer of interviwers" [value]="interviwer.email_id">{{interviwer.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="interviwers1.invalid">Field is Required</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea #subject matInput placeholder="Textarea" [formControl]="message" multiple [errorStateMatcher]="matcher" required [value]=""></textarea>
                        <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-error class="invalid-message">{{status}}</mat-error>
                    <button mat-button [disabled]="interviwers1.invalid || message.invalid" (click)="mail(interviewer.value, subject.value)">
                            <mat-icon matSuffix>email</mat-icon>Send Email</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>