.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 45%;
    margin-top: 30px;
    margin-left: 5%;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 12px;
    padding: 5px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    margin-left: 10px;
    color: #003358;
}

button {
    background: #003358;
    color: #fff;
    height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.mat-button {
    min-width: 104px !important;
    border-radius: 7px;
    line-height: 23px !important;
    margin-top: 4% !important;
    margin-bottom: 2% !important;
}

.mat-button:hover {
    background: #2471b4;
}

mat-icon {
    font-size: 16px;
    line-height: 20px;
}

button[disabled][disabled] {
    color: grey;
}

.mat-form-field {
    margin-right: 5%;
}

.matcard2 {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 90%;
    margin-left: 5%;
}

.invalid-message {
    color: green;
    font-weight: bold;
}

a {
    font-size: 12px;
    margin-right: 5px;
    color: #003358;
    font-weight: bold;
    text-decoration: none;
}

.mat-toolbar {
    height: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #fff;
}

a:hover {
    border-bottom: 3px solid #003358;
}

.active {
    border-bottom: 3px solid #003358;
}