<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Change Password</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="myForm">
                        <mat-form-field appearance="legacy" hintLabel="Min 8 characters">
                            <input #oldpass matInput placeholder="Old Password" maxlength="15" formControlName="oldpassword" [type]="hide ? 'password' : 'text'">
                            <mat-hint align="end">{{oldpass.value?.length || 0}}/15</mat-hint>
                            <mat-icon id="eyesize" matSuffix (click)="hide=! hide ">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="myForm.hasError('required', 'password')">
                                Please Enter Old Password
                            </mat-error>
                        </mat-form-field><br>

                        <mat-form-field appearance="legacy" hintLabel="Min 8 characters">
                            <input #newPass matInput placeholder="New Password" maxlength="15" formControlName="password" [type]="hide ? 'password' : 'text'">
                            <mat-hint align="end">{{newPass.value?.length || 0}}/15</mat-hint>
                            <mat-icon id="eyesize" matSuffix (click)="hide=! hide ">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="myForm.hasError('required', 'password')">
                                Please Enter New Password
                            </mat-error>
                        </mat-form-field><br>

                        <mat-form-field appearance="legacy" hintLabel="Min 8 characters">
                            <input #confirmPass matInput placeholder="Confirm Password" maxlength="15" formControlName="confirmPassword" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
                            <mat-hint align="end">{{confirmPass.value?.length || 0}}/15</mat-hint>
                            <mat-icon id="eyesize" matSuffix (click)="hide=! hide ">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="myForm.hasError('notSame')">
                                Passwords Does Not Match
                            </mat-error>
                        </mat-form-field><br><br>
                    </form>

                    <mat-error class="invalid-message">{{response}}</mat-error>
                    <br>

                    <button mat-button [disabled]="myForm.invalid" (click)="changePassword(oldpass.value,newPass.value)"><mat-icon matSuffix>input</mat-icon>submit</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>