button[disabled][disabled] {
    color: grey;
}

.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 40%;
    margin-top: 70px;
    margin-left: 5%;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 12px;
    padding: 5px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    color: #003358;
    margin-left: 10px;
}

mat-card-subtitle {
    margin-left: 20px;
    font-size: 10px;
}

button {
    background: #003358;
    color: #fff;
    height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.mat-button {
    min-width: 95px !important;
    border-radius: 7px;
    line-height: 23px !important;
    margin-left: 5% !important;
    margin-bottom: 2% !important;
    margin-top: 4% !important;
}

.mat-form-field {
    margin-left: 5% !important;
}

.mat-button:hover {
    background: #2471b4;
}

mat-icon {
    font-size: 16px;
    line-height: 20px;
}

.invalid-message {
    margin-top: 3%;
    margin-left: 5%;
    color: green;
    font-weight: bold;
}

#eyesize {
    font-size: 20px;
    color: #003358;
}