.appname {
    color: #003358;
    font-size: 32px;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 5px;
}

.style {
    color: rgb(180, 30, 30);
}

a {
    color: #003358 !important;
    border: 0px solid #fff;
    font-size: 11px;
    text-decoration: none;
    height: 37px;
    line-height: 40px;
    text-align: center;
}

a:hover {
    background-color: #2471b4 !important;
}

#settings {
    margin-right: 20px !important;
    font-size: 12px !important;
    margin-top: 9px;
    float: right;
}

.menu {
    padding: 0px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    z-index: 1002;
    height: 50px;
}

.mat-menu-panel {
    max-width: 200px;
    font-size: 14px;
    z-index: 1003;
}

.mat-menu-content {
    border: 0px;
    text-align: center;
}

.mat-icon {
    width: 11px;
    font-size: 11px;
    line-height: 0px;
    color: #003358 !important;
    vertical-align: baseline !important;
}

.default {
    cursor: pointer;
}

.mat-menu-item .mat-icon {
    margin-right: 0px;
    vertical-align: baseline;
}

button {
    color: #003358;
    height: 28px;
    font-size: 12px;
    text-align: center;
}

button:hover {
    background-color: #2471b4;
}