/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif;
    // height: 100%;
}

html {
    height: 100%;
}

.basic-container {
    padding: 30px;
}

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
    #content {
        padding: 30px 50px;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                background: #fff;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 8px;
                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00A8FF;
                }
                ul {
                    margin-top: 20px;
                    li {
                        padding: 0;
                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.mat-pseudo-checkbox {
    height: 10px !important;
    width: 10px !important;
}

.mat-select-panel {
    height: 10em;
}

.cdk-overlay-pane {
    margin-top: 3%;
}

.mat-select-panel .mat-option {
    height: 2em;
}

.mat-form-field-infix {
    width: 50px;
}

.alertsContainer {
    //z-index: 900;
    // top:100px;
    margin-top: 50px;
    float: left;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    background: #888;
}

::-webkit-scrollbar-track-piece {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #eee;
}
// mat-footer-row, mat-header-row
// {
//     width:300%;
//     background-color:red;
// }