<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/all_skills" routerLinkActive="active">Skill Detail /</a>
            <a routerLink="/add_new_skill" routerLinkActive="active">Add New Skill /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Skills Detail</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-card-subtitle>Ratings Disclaimer: 1-Being the Least, 10-Being the Highest</mat-card-subtitle>
                    <mat-form-field>
                        <mat-select #skilldetail placeholder="Skills" [errorStateMatcher]="matcher" required [formControl]="skill" multiple>
                            <mat-option *ngFor="let skill of skills" [value]="skill">{{skill.skill_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="skill.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button mat-button [disabled]="skill.invalid" (click)="postSkillid(skilldetail.value)"><mat-icon matSuffix>search</mat-icon>Search</button>

                    <mat-accordion displayMode="flat" multi class="mat-table">
                        <section matSort class="mat-elevation-z2 mat-header-row">
                            <span class="mat-header-cell" mat-sort-header="Project Name">Skills</span>
                        </section>

                        <mat-expansion-panel *ngFor="let element of skills_details">
                            <mat-expansion-panel-header class="mat-row">
                                <span class="mat-cell">{{element.skill_name}}</span>

                            </mat-expansion-panel-header>

                            <pre> 
                              <h5>Employees with Above Skill Set</h5>
                              
                              <table>
                              <thead>
                              <tr>
                                  <th>Employee ID</th>
                                  <th>Employee Name</th>
                                  <th>Ratings</th>
                                  <th>Evaluated By</th>
                                  <th>Date</th>
                              </tr>
                              </thead>
                         
                             <tbody *ngFor="let item of element.emp_details">
                              <tr>
                              <td>{{item.emp_id}}</td>
                              <td>{{item.name}}</td>
                              <td>{{item.skill_rating}}</td>
                              <td>{{item.evaluator_name}}</td>
                              <td>{{item.evaluated_at}}</td>
                              </tr>
                              </tbody> 
                              </table>
                          </pre>
                        </mat-expansion-panel>
                    </mat-accordion>


                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>