.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 80%;
    margin-top: 30px;
    position: absolute;
    margin-left: 5%;
    height: 50%;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 12px;
    padding: 5px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    color: #003358;
    margin-left: 10px;
}

#search {
    font-size: 20px;
    color: #003358;
}

#submit {
    font-size: 19px;
}

#edit_icon {
    font-size: 19px;
    color: #003358;
    width: 21px;
}

span {
    color: #003358;
    font-size: 18px;
}

.mat-elevation-z8 {
    width: 100%;
    overflow-x: scroll;
    // height: 80%;
    // overflow-y: scroll;
}

th {
    background: #003358;
    color: #fff;
}

.mat-cell {
    font-size: 11px;
    text-align: center;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    border: 1px solid #dddddd;
}

.mat-header-cell {
    color: white;
    font-size: 11px;
}

tr.mat-header-row {
    height: 40px;
}

tr.mat-row {
    height: 40px;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 8px !important;
}

mat-form-field {
    margin-left: 2% !important;
}

button {
    background: #003358;
    color: #fff;
    height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.mat-button {
    min-width: 95px !important;
    border-radius: 7px;
    line-height: 23px !important;
    margin-left: 2% !important;
    margin-bottom: 2% !important;
    margin-top: 4% !important;
}

.mat-accordion {
    margin-bottom: 5%;
}

// .mat-paginator {
//     position: absolute;
//     width: 100%;
// }
.text-inside-grid {
    position: absolute;
}

.mat-grid-tile {
    height: 60px;
    margin-top: 0px;
    padding-top: 0px;
}

.mat-form-field {
    width: 250px !important;
}

a {
    font-size: 12px;
    margin-right: 5px;
    color: #003358;
    font-weight: bold;
    text-decoration: none;
}

.mat-toolbar {
    height: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #fff;
}

a:hover {
    border-bottom: 3px solid #003358;
}

.active {
    border-bottom: 3px solid #003358;
}

.invalid-message {
    //text-align: center;
    color: green;
    margin-left: 3%;
    margin-top: 2%;
    font-weight: bold;
}

mat-icon {
    font-size: 17px;
}