<div id="container">
        <app-home></app-home>
        <div id="content">
       
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="cog">
        <p style="font-size: 15px; color: #fff">Loading...</p>
        </ngx-spinner>
       
       
       
        <mat-toolbar>
        <a routerLink="/employee_categories" routerLinkActive="active">All Employees /</a>
        <a routerLink="/interviewer" routerLinkActive="active">Managers /</a>
        <a routerLink="/interviewer" routerLinkActive="active">Interns /</a>
        <a routerLink="/interviewresults" routerLinkActive="active">Employees /</a>
        <a routerLink="/add_employee" routerLinkActive="active">Trainee /</a>
        </mat-toolbar>
       
        <div class="matcard">
        <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>
        <p>Employees Information</p>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        <mat-icon id="search" matSuffix>search</mat-icon>
        </mat-form-field>
       
        <mat-accordion>
        <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
        <mat-icon id="edit_icon" matPrefix>create</mat-icon>
        <span>Edit</span>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="2" rowHeight="15:1" gutterSize=6px>
        <div>
        <mat-form-field>
        <input matInput #EmployeeIDpost maxlength="13" placeholder="Employee ID">
        <mat-hint align="end">{{EmployeeID.value?.length || 0}}/13</mat-hint>
        <mat-error *ngIf="EmployeeID.invalid">{{getErrorMessage()}}</mat-error>
       
        </mat-form-field> 
        <button mat-button (click)="postEmployeeid(EmployeeIDpost.value)">
        <mat-icon matSuffix>search</mat-icon>
        Search</button>
        </div><br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #EmployeeID maxlength="13" placeholder="Employee ID" value="{{emp_id1}}">
        <mat-hint align="end">{{EmployeeID.value?.length || 0}}/13</mat-hint>
        <mat-error *ngIf="EmployeeID.invalid">{{getErrorMessage()}}</mat-error>
       
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Employeename [errorStateMatcher]="matcher" placeholder="Employee Name" value={{emp_name}}>
        <mat-error *ngIf="Employeename.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <mat-select #Designation placeholder="Designation" [formControl]="designation1" value={{designation}}>
        <mat-option *ngFor="let designation of designations" value='{{designation}}'>{{designation.designation}}</mat-option>
        </mat-select>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Gender [errorStateMatcher]="matcher" placeholder="Gender" value={{gender}}>
        <mat-error *ngIf="Gender.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <!-- <mat-form-field>
        <input matInput #Dateofbirth maxlength="10" placeholder="Date of Birth" value={{date_of_birth}}>
        <mat-error *ngIf="Dateofbirth.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> -->
        <mat-form-field class="example-full-width">
        <input matInput #Dateofbirth [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="Dateofbirth.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
       
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #EmailID [errorStateMatcher]="matcher" placeholder="Email ID (Official)" value={{email_office}}>
        <mat-error *ngIf="EmailID.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #EmailIDpersonal [errorStateMatcher]="matcher" placeholder="Email-Id (Personal)" value={{emailid_personal}}>
        <mat-error *ngIf="EmailIDpersonal.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input type=number matInput #Phonenumber onKeyPress="if(this.value.length==10) return false;" placeholder="Phone Number" value={{phone_no}}>
        <mat-hint align="end">{{Phonenumber.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="Phonenumber.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input type=number matInput #Alternativephonenumber onKeyPress="if(this.value.length==10) return false;" placeholder="Alternative Phone Number" value={{alt_phone_no}}>
        <mat-hint align="end">{{Alternativephonenumber.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="Alternativephonenumber.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <textarea matInput #Permanentaddress [errorStateMatcher]="matcher" placeholder="Permanent Address" value={{permanent_address}}></textarea>
        <mat-error *ngIf="Permanentaddress.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field class="example-full-width">
        <textarea matInput #Residentialaddress placeholder="Residential Address" value={{resident_address}}></textarea>
        <mat-error *ngIf="Residentialaddress.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Fathername [errorStateMatcher]="matcher" placeholder="Father Name" value={{father_name}}>
        <mat-error *ngIf="Fathername.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input type=number matInput #Fathernumber onKeyPress="if(this.value.length==10) return false;" placeholder="Father PhoneNumber" value={{father_no}}>
        <mat-hint align="end">{{Fathernumber.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="Fathernumber.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Mothername [errorStateMatcher]="matcher" placeholder="Mother Name" value={{mother_name}}>
        <mat-error *ngIf="Mothername.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input type=number matInput #Mothernumber onKeyPress="if(this.value.length==10) return false;" placeholder="Mother PhoneNumber" value={{mother_no}}>
        <mat-hint align="end">{{Mothernumber.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="Mothernumber.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input type=number matInput #Emergencynumber onKeyPress="if(this.value.length==10) return false;" placeholder="Emergency Contact Number" value={{emergency_contact_no}}>
        <mat-hint align="end">{{Emergencynumber.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="Emergencynumber.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Bloodgroup placeholder="Blood group" value={{blood_group}}>
        <mat-error *ngIf="Bloodgroup.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Maritalstatus placeholder="Marital Status" value={{marital_status}}>
        <mat-error *ngIf="Maritalstatus.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
       
       
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Qualification placeholder="Qualification" value={{qualification}}>
        <mat-error *ngIf="Qualification.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #PANnumber [errorStateMatcher]="matcher" placeholder="PAN Number" value={{pan_no}} onKeyPress="if(this.value.length==10) return false;">
        <mat-hint align="end">{{PANnumber.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="PANnumber.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input type=number matInput #Aadharnumber onKeyPress="if(this.value.length==12) return false;" placeholder="Aadhar Number" value={{aadhar_no}}>
        <mat-hint align="end">{{Aadharnumber.value?.length || 0}}/12</mat-hint>
        <mat-error *ngIf="Aadharnumber.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <!-- <mat-form-field>
        <input matInput #Dateofjoining placeholder="Date of Joining" value={{date_of_joining}}>
        <mat-error *ngIf="Dateofjoining.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> -->
       
        <mat-form-field class="example-full-width">
        <input matInput #Dateofjoining [matDatepickerFilter]="myFilter" [matDatepicker]="pickerTo" placeholder="Date of joining">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
        <mat-error *ngIf="Dateofjoining.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
       
       
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Monthsonjob [errorStateMatcher]="matcher" placeholder="Months on Job" value={{months_on_job}}>
        <mat-error *ngIf="Monthsonjob.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <!-- <mat-form-field>
        <input matInput #Dateofpromotion placeholder="Date of Promotion" value={{date_of_promotion}}>
        <mat-error *ngIf="Dateofpromotion.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> -->
       
        <mat-form-field class="example-full-width">
        <input matInput #Dateofpromotion [matDatepickerFilter]="myFilter" [matDatepicker]="pickerThree" placeholder="Date of promotion">
        <mat-datepicker-toggle matSuffix [for]="pickerThree"></mat-datepicker-toggle>
        <mat-datepicker #pickerThree></mat-datepicker>
        <mat-error *ngIf="Dateofpromotion.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <!-- <mat-form-field>
        <input matInput #Dateofresigning maxlength="10" placeholder="Date of Resigning" value={{date_of_resigning}}>
        <mat-error *ngIf="Dateofresigning.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> -->
       
        <mat-form-field class="example-full-width">
        <input matInput #Dateofresigning [matDatepickerFilter]="myFilter" [matDatepicker]="pickerfour" placeholder="Date of Resigning">
        <mat-datepicker-toggle matSuffix [for]="pickerfour"></mat-datepicker-toggle>
        <mat-datepicker #pickerfour></mat-datepicker>
        <mat-error *ngIf="Dateofresigning.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
        <div class="text-inside-grid">
        <!-- <mat-form-field>
        <input matInput #Dateofrejoining maxlength="10" placeholder="Date of Rejoining" value={{date_of_rejoining}}>
        <mat-error *ngIf="Dateofrejoining.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> -->
       
        <mat-form-field class="example-full-width">
        <input matInput #Dateofrejoining [matDatepickerFilter]="myFilter" [matDatepicker]="pickerfive" placeholder="Date of Rejoining">
        <mat-datepicker-toggle matSuffix [for]="pickerfive"></mat-datepicker-toggle>
        <mat-datepicker #pickerfive></mat-datepicker>
        <mat-error *ngIf="Dateofrejoining.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
       
        <mat-grid-tile>
        <div class="text-inside-grid">
        <mat-form-field>
        <input matInput #Status [errorStateMatcher]="matcher" placeholder="Status" value={{status}}>
        <mat-error *ngIf="Status.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <br>
        </mat-grid-list>
       
       
        <mat-error class="invalid-message">{{profile_status}}</mat-error>
        <br>
        <button mat-button (click)="editEmployeeDetails(Employeename.value,EmployeeID.value,Status.value,Designation.value,Dateofpromotion.value,Dateofjoining.value,Monthsonjob.value,EmailIDpersonal.value,EmailID.value,Phonenumber.value,Alternativephonenumber.value,PANnumber.value,Aadharnumber.value,Fathername.value,Fathernumber.value,Mothername.value,Mothernumber.value,Emergencynumber.value,Gender.value,Dateofbirth.value,Permanentaddress.value,Residentialaddress.value,Qualification.value,Dateofresigning.value,Dateofrejoining.value,Bloodgroup.value,Maritalstatus.value)">
        <mat-icon id="submit" matSuffix>input</mat-icon>submit</button>
        </mat-expansion-panel>
        </mat-accordion>
        <br>
       
        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
       
        <ng-container matColumnDef="emp_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Employee ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
        </ng-container>
       
        <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Employee Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
       
        <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Designation
        </th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
        </ng-container>
       
        <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Gender
        </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
       
        <ng-container matColumnDef="date_of_birth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Date of Birth
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date_of_birth}} </td>
        </ng-container>
       
        <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Email ID (Official)
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
       
        <ng-container matColumnDef="email_id_personal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Email ID (Personal)
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email_id_personal}} </td>
        </ng-container>
       
        <ng-container matColumnDef="phone_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Phone Number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
        </ng-container>
       
        <ng-container matColumnDef="alternative_phone_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Alternative Phone Number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.alternative_phone_number}} </td>
        </ng-container>
       
        <ng-container matColumnDef="permanent_address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Permanent Address
        </th>
        <td mat-cell *matCellDef="let element"> {{element.permanent_address}} </td>
        </ng-container>
       
        <ng-container matColumnDef="resident_address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Residential Address
        </th>
        <td mat-cell *matCellDef="let element"> {{element.resident_address}} </td>
        </ng-container>
       
        <ng-container matColumnDef="father_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Father Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.father_name}} </td>
        </ng-container>
       
        <ng-container matColumnDef="father_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Father PhoneNumber
        </th>
        <td mat-cell *matCellDef="let element"> {{element.father_number}} </td>
        </ng-container>
       
        <ng-container matColumnDef="mother_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Mother Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.mother_name}} </td>
        </ng-container>
       
        <ng-container matColumnDef="mother_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Mother PhoneNumber
        </th>
        <td mat-cell *matCellDef="let element"> {{element.mother_number}} </td>
        </ng-container>
       
        <ng-container matColumnDef="emergency_contact_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Emergency Contact Number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.emergency_contact_number}} </td>
        </ng-container>
       
        <ng-container matColumnDef="blood_group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Blood Group
        </th>
        <td mat-cell *matCellDef="let element"> {{element.blood_group}} </td>
        </ng-container>
       
        <ng-container matColumnDef="marital_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Marital Status
        </th>
        <td mat-cell *matCellDef="let element"> {{element.marital_status}} </td>
        </ng-container>
       
       
        <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Qualification
        </th>
        <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
        </ng-container>
       
       
        <ng-container matColumnDef="pan_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        PAN Number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.pan_number}} </td>
        </ng-container>
       
        <ng-container matColumnDef="aadhar_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Aadhar Number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.aadhar_number}} </td>
        </ng-container>
       
        <ng-container matColumnDef="date_of_joining">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Date of Joining
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date_of_joining}} </td>
        </ng-container>
       
        <ng-container matColumnDef="months_on_job">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Months on Job
        </th>
        <td mat-cell *matCellDef="let element"> {{element.months_on_job}} </td>
        </ng-container>
       
        <ng-container matColumnDef="date_of_promotion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Date of Promotion
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date_of_promotion}} </td>
        </ng-container>
       
        <ng-container matColumnDef="date_of_resigning">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Date of Resigning
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date_of_resigning}} </td>
        </ng-container>
       
        <ng-container matColumnDef="date_of_rejoining">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Date of Rejoining
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date_of_rejoining}} </td>
        </ng-container>
       
        <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
        </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
       
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 100]"></mat-paginator>
        </div>
        </mat-card-content>
        </mat-card>
        </div>
        </div>
       </div>