<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/manager_project_details" routerLinkActive="active">My Projects /</a>
            <a routerLink="/addproject" routerLinkActive="active">Add New Projects /</a>
        </mat-toolbar>


        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Project Details</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-accordion displayMode="flat" multi class="mat-table">
                        <section matSort class="mat-elevation-z2 mat-header-row">
                            <span class="mat-header-cell" mat-sort-header="Project Name">Project Name</span>
                            <span class="mat-header-cell" mat-sort-header="Manager Name">Manager Name</span>
                            <span class="mat-header-cell" mat-sort-header="Started Date">Started Date</span>
                            <span class="mat-header-cell" mat-sort-header="Project Status">Project Status</span>
                            <span class="mat-header-cell" mat-sort-header="Completed Date">Completed Date</span>
                        </section>

                        <mat-expansion-panel *ngFor="let element of projects">
                            <mat-expansion-panel-header class="mat-row">
                                <span class="mat-cell">{{element.project_name}}</span>
                                <span class="mat-cell">{{element.manager_name}}</span>
                                <span class="mat-cell">{{element.started_on}}</span>
                                <span class="mat-cell">{{element.project_status}}</span>
                                <span class="mat-cell">{{element.completed_on}}</span>
                            </mat-expansion-panel-header>
                            <pre> 
                                        <h5><strong>Team Details</strong></h5>
                                        <table>
                                        <thead>
                                        <tr>
                                            <th>Employee Name</th>
                                            <th>Employee ID</th>
                                            <th>Email ID</th>
                                            <th>Phone No.</th>
                                            <th>Project Contribution %</th>
                                        </tr>
                                        </thead>
                                   
                                       <tbody *ngFor="let item of element.emp_list">
                                        <tr>
                                        <td>{{item.emp_name}}</td>
                                        <td>{{item.emp_id}}</td>
                                        <td>{{item.email_id}}</td>
                                        <td>{{item.phone_number}}</td>
                                        <td>{{item.project_contribution}}</td>
                                        </tr>
                                        </tbody> 
                                        </table>
                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                                    </pre>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>