<mat-card class="menu">
    <mat-card-title>
        <span class="appname">Quick<span class="style">Info</span></span>
        <button mat-raised-button id="settings" [matMenuTriggerFor]="menu" class="default">
          <mat-icon>settings</mat-icon>Settings
      </button>

        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/changepassword" class="default">
                <mat-icon>vpn_key</mat-icon><span>Change Password</span>
            </a>
            <a mat-menu-item href="javascript:void(0);" (click)="logout()" class="default">
                <mat-icon>power_settings_new</mat-icon><span>Logout</span>
            </a>
        </mat-menu>
    </mat-card-title>
</mat-card>