.text-inside-grid {
    position: absolute;
    left: 30%;
    //overflow-y: scroll;
}

.text-inside-grid_right {
    position: absolute;
    left: 2%;
    font-weight: bold;
    // overflow-y: auto;
}

.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 50%;
    margin-top: 50px;
}

.matcard2 {
    float: left;
    left: 30px;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 50%;
    margin-top: 50px;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 12px;
    padding: 5px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    margin-left: 10px;
    color: #003358;
}

button {
    background: #003358;
    color: #fff;
    height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.mat-button {
    min-width: 80px !important;
    border-radius: 7px;
    line-height: 23px !important;
    margin-left: 5% !important;
    margin-bottom: 2% !important;
    margin-top: 2% !important;
}

.text-inside-grid_right {
    position: absolute;
    left: 1%;
    // overflow-y: auto;
}

.mat-button:hover {
    background: #2471b4;
}

mat-icon {
    font-size: 16px;
    line-height: 20px;
}

.example-full-width {
    width: 80%;
    margin-left: 5%;
}

.mat-grid-tile {
    height: 60px;
    margin-top: 0px;
    padding-top: 0px;
}

#edit {
    margin-top: 2%;
}

.invalid-message {
    color: green;
}

// ngx-spinner
// {
//     //position: relative;
//     display: flex;
// }

// .loading-text[_ngcontent-c8] {
//     position: fixed !important;
// }
// .spinner {
//     position: fixed;
// }