<div id="container">

    <app-home></app-home>


    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <div class="matcard">
            <!-- <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            <p>About Me</p>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button><mat-icon matSuffix>add_comment</mat-icon>ADD</button>
                    </mat-card-actions>
                </mat-card> -->

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Basic Info</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="15:1" gutterSize=6px>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Employee Name</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ name }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Employee_id</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ id }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Email-ID (Personal)</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ email_id_personal }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Phone Number</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ phone_number }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Alternative Phone Number</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ alternative_phone_number }}</div>
                        </mat-grid-tile><br>
                    </mat-grid-list>
                </mat-card-content>
                <mat-card-actions>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <p id="edit">Edit</p>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field>
                                <input matInput #EmailID [formControl]="emailid" [errorStateMatcher]="matcher" placeholder="Email-ID (Personal)" value='{{email_id_personal}}'>
                                <mat-error *ngIf="emailid.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field><br>
                            <mat-form-field>
                                <input type=number matInput #Phonenumber onKeyPress="if(this.value.length==10) return false;" placeholder="Phone Number" value='{{phone_number}}'>
                                <mat-hint align="end">{{Phonenumber.value?.length || 0}}/10</mat-hint>
                                <mat-error *ngIf="Phonenumber.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field><br>
                            <mat-form-field>
                                <input type=number matInput #Altphonenumber onKeyPress="if(this.value.length==10) return false;" placeholder="Alternate Phone Number" value='{{alternative_phone_number}}'>
                                <mat-hint align="end">{{Altphonenumber.value?.length || 0}}/10</mat-hint>
                                <mat-error *ngIf="Altphonenumber.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field><br>

                            <mat-error class="invalid-message">{{status}}</mat-error><br>
                            <button mat-button (click)="editDetails(EmailID.value,Phonenumber.value,Altphonenumber.value)"><mat-icon matSuffix>input</mat-icon>submit</button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-actions>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Work</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <mat-grid-list cols="2" rowHeight="15:1" gutterSize=6px>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Designation</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ designation }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Email-ID (Official)</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ email }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Date of Joining (YYYY-MM-DD)</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ date_of_joining }}</div>
                        </mat-grid-tile><br>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="matcard2">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Personal</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="15:1" gutterSize=6px>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Qualification</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ qualification }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Date of Birth (YYYY-MM-DD)</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ date_of_birth }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Pan Number</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ pan_number }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Aadhar Number</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ aadhaar_number }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Gender</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ gender }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Emergency Contact Number</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ emergency_contact_number }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Address (Permanent)</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ permanent_address }}</div>
                        </mat-grid-tile><br><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Address (Residential)</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ resident_address }}</div>
                        </mat-grid-tile><br><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Father Name</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ father_name }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Father PhoneNumber</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ father_number }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Mother Name</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ mother_name }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Mother PhoneNumber</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ mother_number }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Marital Status</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ marital_status }}</div>
                        </mat-grid-tile><br>
                        <mat-grid-tile>
                            <div class="text-inside-grid">Blood Group</div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">-{{ blood_group }}</div>
                        </mat-grid-tile><br>
                    </mat-grid-list>
                </mat-card-content>
                <mat-card-actions>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <p id="edit">Edit</p>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field>
                                <input type=number matInput #Fathernumber onKeyPress="if(this.value.length==10) return false;" placeholder="Father Number" value='{{father_number}}'>
                                <mat-hint align="end">{{Fathernumber.value?.length || 0}}/10</mat-hint>
                                <mat-error *ngIf="Fathernumber.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field><br>
                            <mat-form-field>
                                <input type=number matInput #Mothernumber onKeyPress="if(this.value.length==10) return false;" placeholder="Mother Number" value='{{mother_number}}'>
                                <mat-hint align="end">{{Mothernumber.value?.length || 0}}/10</mat-hint>
                                <mat-error *ngIf="Mothernumber.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field><br>
                            <mat-form-field>
                                <input matInput #Maritalstatus placeholder="Marital Status" value='{{marital_status}}'>
                                <mat-error *ngIf="Maritalstatus.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field><br>
                            <mat-form-field>
                                <input type=number matInput #Emergencynumber onKeyPress="if(this.value.length==10) return false;" placeholder="Emergency Contact Number" value='{{emergency_contact_number}}'>
                                <mat-hint align="end">{{Emergencynumber.value?.length || 0}}/10</mat-hint>
                                <mat-error *ngIf="Emergencynumber.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field><br>
                            <mat-form-field>
                                <input matInput #Bloodgroup placeholder="Blood Group" value='{{blood_group}}'>
                                <mat-error *ngIf="Bloodgroup.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-error class="invalid-message">{{status}}</mat-error><br>
                            <button mat-button (click)="editDetails2(Fathernumber.value,Mothernumber.value,Maritalstatus.value,Emergencynumber.value,Bloodgroup.value)"><mat-icon matSuffix>input</mat-icon>submit</button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>