
<div id="container">
  <app-home></app-home>

  <div id="content">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="cog">
      <p style="font-size: 15px; color: #fff">Loading...</p>
  </ngx-spinner>
      <div class="matcard">
          <mat-card class="example-card">
              <mat-card-header>
                  <mat-card-title>
                      <p>Employee Details</p>
                  </mat-card-title>
              </mat-card-header>
              <mat-card-subtitle>Ratings Disclaimer: 1-Being the Least, 10-Being the Highest</mat-card-subtitle>
              <mat-card-content>
                  <!-- <div fxFlexFill>
                      <span translate="front.monitoring.quarterly.entity"></span>
                      <mat-form-field floatPlaceholder="never">
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput [formControl]="row.validator.controls['name']">
                      </mat-form-field>
                    </div> -->

                    <mat-form-field>
                      <input matInput #searchempid placeholder="Search">
                  <button mat-button (click)="postEmployeeid(searchempid.value)"><mat-icon matSuffix>search</mat-icon>Search</button>
                    </mat-form-field>
<div class="mat-elevation-z8">
<mat-table class="table-margin-bottom" #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="emp_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input matInput #empid [formControl]="row.validator.controls['emp_id']"   [(ngModel)]="row.currentData.emp_id">
          </mat-form-field>
        </mat-cell>
      </ng-container>
  <ng-container matColumnDef="name">
    
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
        <input matInput #name [formControl]="row.validator.controls['name']" [readonly]="!row.editing"  [(ngModel)]="row.currentData.name">
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #gender [formControl]="row.validator.controls['gender']"  [(ngModel)]="row.currentData.gender">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_of_birth">
        <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input matInput #dateofbirth [formControl]="row.validator.controls['date_of_birth']"  [(ngModel)]="row.currentData.date_of_birth">
          </mat-form-field>
        </mat-cell>
      </ng-container>

 

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input matInput #email [formControl]="row.validator.controls['email']"   [(ngModel)]="row.currentData.email">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email_id_personal">
        <mat-header-cell *matHeaderCellDef> Email Id Personal </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input matInput #emailidpersonal [formControl]="row.validator.controls['email_id_personal']"  [(ngModel)]="row.currentData.email_id_personal">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone_number">
          <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
              <input matInput #phonenumber [formControl]="row.validator.controls['phone_number']"  [(ngModel)]="row.currentData.phone_number">
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="alternative_phone_number">
          <mat-header-cell *matHeaderCellDef> Alternative Phone Number </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
              <input matInput #alternativephonenumber [formControl]="row.validator.controls['alternative_phone_number']"   [(ngModel)]="row.currentData.alternative_phone_number">
            </mat-form-field>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="permanent_address">
          <mat-header-cell *matHeaderCellDef> Permanent Address </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
              <input matInput #permanentaddress [formControl]="row.validator.controls['permanent_address']"   [(ngModel)]="row.currentData.permanent_address">
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="resident_address">
          <mat-header-cell *matHeaderCellDef> Resident Address </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
              <input matInput #residentaddress [formControl]="row.validator.controls['resident_address']"   [(ngModel)]="row.currentData.resident_address">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="blood_group">
            <mat-header-cell *matHeaderCellDef> Blood Group </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
                <input matInput #bloodgroup [formControl]="row.validator.controls['blood_group']"   [(ngModel)]="row.currentData.blood_group">
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="marital_status">
            <mat-header-cell *matHeaderCellDef> Marital Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
                <input matInput #maritalstatus [formControl]="row.validator.controls['marital_status']"   [(ngModel)]="row.currentData.marital_status">
              </mat-form-field>
            </mat-cell>
          </ng-container>


  <ng-container matColumnDef="pan_number">
      <mat-header-cell *matHeaderCellDef> Pan Number </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #pannumber [formControl]="row.validator.controls['pan_number']"   [(ngModel)]="row.currentData.pan_number">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="aadhaar_number">
      <mat-header-cell *matHeaderCellDef> Aadhaar Number </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #aadhaarnumber [formControl]="row.validator.controls['aadhaar_number']"   [(ngModel)]="row.currentData.aadhaar_number">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="father_name">
      <mat-header-cell *matHeaderCellDef> Father Name </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #fathername [formControl]="row.validator.controls['father_name']"  [(ngModel)]="row.currentData.father_name">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="father_number">
      <mat-header-cell *matHeaderCellDef> Father Number </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #fathernumber [formControl]="row.validator.controls['father_number']"   [(ngModel)]="row.currentData.father_number">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mother_name">
      <mat-header-cell *matHeaderCellDef> Mother Name </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #mothername [formControl]="row.validator.controls['mother_name']"   [(ngModel)]="row.currentData.mother_name">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mother_number">
      <mat-header-cell *matHeaderCellDef> Mother Number </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #mothernumber [formControl]="row.validator.controls['mother_number']"   [(ngModel)]="row.currentData.mother_number">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="emergency_contact_number">
      <mat-header-cell *matHeaderCellDef> Emergency Contact Number </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #emergencycontactnumber [formControl]="row.validator.controls['emergency_contact_number']"  [(ngModel)]="row.currentData.emergency_contact_number">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    
    
    <ng-container matColumnDef="qualification">
      <mat-header-cell *matHeaderCellDef> Qualification </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #qualification [formControl]="row.validator.controls['qualification']"   [(ngModel)]="row.currentData.qualification">
        </mat-form-field>
      </mat-cell>
    </ng-container>
  
  

  <ng-container matColumnDef="designation">
      <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #designation [formControl]="row.validator.controls['designation']"   [(ngModel)]="row.currentData.designation">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date_of_joining">
        <mat-header-cell *matHeaderCellDef> Date of Joining </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input matInput #dateofjoining [formControl]="row.validator.controls['date_of_joining']"  [(ngModel)]="row.currentData.date_of_joining">
          </mat-form-field>
        </mat-cell>
      </ng-container>
  
  <ng-container matColumnDef="date_of_promotion">
    <mat-header-cell *matHeaderCellDef> Date of promotion </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
        <input matInput #dateofpromotion [formControl]="row.validator.controls['date_of_promotion']"   [(ngModel)]="row.currentData.date_of_promotion">
      </mat-form-field>
    </mat-cell>
  </ng-container>
 
  <ng-container matColumnDef="months_on_job">
    <mat-header-cell *matHeaderCellDef> Months On Job </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
        <input matInput #monthsonjob [formControl]="row.validator.controls['months_on_job']"  [(ngModel)]="row.currentData.months_on_job">
      </mat-form-field>
    </mat-cell>
  </ng-container>
 

  <ng-container matColumnDef="date_of_resigning">
    <mat-header-cell *matHeaderCellDef> Date of Resigning </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
        <input matInput #dateofresigning [formControl]="row.validator.controls['date_of_resigning']"  [(ngModel)]="row.currentData.date_of_resigning">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date_of_rejoining">
    <mat-header-cell *matHeaderCellDef> Date of Rejoining </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
        <input matInput #dateofrejoining [formControl]="row.validator.controls['date_of_rejoining']"   [(ngModel)]="row.currentData.date_of_rejoining">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input matInput #status [formControl]="row.validator.controls['status']"  [(ngModel)]="row.currentData.status">
        </mat-form-field>
      </mat-cell>
    </ng-container>

  <ng-container matColumnDef="actionsColumn">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="accent" (click)="dataSource.createNew()"><i class="fa fa-plus mat-icon"></i></button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
        <mat-icon>edit</mat-icon>
          </button>
      <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="confirmEditCreate(row.currentData.emp_id,row.currentData.name,row.currentData.gender,row.currentData.date_of_birth,row.currentData.email,row.currentData.email_id_personal,row.currentData.phone_number,row.currentData.alternative_phone_number,row.currentData.permanent_address,row.currentData.resident_address,row.currentData.blood_group,row.currentData.marital_status,row.currentData.pan_number,row.currentData.aadhaar_number,row.currentData.father_name,row.currentData.father_number,row.currentData.mother_name,row.currentData.mother_number,row.currentData.emergency_contact_number,row.currentData.designation,row.currentData.qualification,row.currentData.date_of_joining, row.currentData.months_on_job,row.currentData.date_of_resigning,row.currentData.date_of_rejoining,row.currentData.status)">
        <mat-icon>done</mat-icon>
          </button>
      <!-- <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
           delete
          </button> -->
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
 </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>