.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 100%;
    margin-top: 70px;
    margin-left: 2%;
}

button[disabled][disabled] {
    color: grey;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 10px;
    padding: 5px;
}

mat-card-subtitle {
    margin-left: 10px;
    font-size: 10px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    color: #003358;
    margin-left: 10px;
}

button {
    background: #003358;
    color: #fff;
    height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin-top: 3%;
}

.mat-button {
    min-width: 80px !important;
    border-radius: 7px;
    line-height: 23px !important;
    margin-bottom: 2% !important;
}

.text-inside-grid_right {
    position: absolute;
    left: 1%;
    // overflow-y: auto;
}

.mat-button:hover {
    background: #2471b4;
}

mat-icon {
    font-size: 16px;
    line-height: 20px;
}

.height {
    height: 40px;
    // border-bottom: 2px solid grey;
}

.example-full-width {
    width: 80%;
    margin-left: 5%;
}

.mat-radio-label {
    padding: 8px !important;
}

.text-inside-grid {
    position: absolute;
    left: 30%;
}

.text-inside-grid_right {
    position: absolute;
    font-weight: bold;
}

.mat-form-field-infix {
    width: 520px !important;
}

.mat-grid-tile {
    height: 50px;
}

.invalid-message {
    color: green;
    font-weight: bold;
}