<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Interview Evaluation</p>
                    </mat-card-title>
                    <mat-card-subtitle>Average Ratings Disclaimer: 1-Being the Least, 5-Being the Highest</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="15:1" gutterSize=6px>

                        <mat-grid-tile height="">
                            <div class="text-inside-grid">
                                Candidate Name
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-form-field>
                                    -<input matInput [formControl]="name" [value]="" [errorStateMatcher]="matcher" required>
                                    <mat-error *ngIf="name.invalid">Field is Required</mat-error>
                                </mat-form-field>
                            </div><br>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Candidate Phone Number
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-form-field>
                                    -<input type="number" matInput onKeyPress="if(this.value.length==10) return false;" [formControl]="phone_no" [value]="" #phonenum [errorStateMatcher]="matcher" required>
                                    <mat-error *ngIf="phone_no.invalid">Field is required</mat-error>
                                </mat-form-field>
                            </div><br>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Email ID
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-form-field>
                                    -<input matInput [formControl]="emailid" [value]="" [errorStateMatcher]="matcher" required>
                                    <mat-error *ngIf="emailid.invalid">Field is required</mat-error>
                                </mat-form-field>
                            </div><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Experience (In Years)
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-form-field>
                                    -<input type="number" matInput onKeyPress="if(this.value.length==4) return false;" max="99" [formControl]="Experience" [value]="" #exp [errorStateMatcher]="matcher" required>
                                    <mat-error *ngIf="Experience.invalid">Field is required</mat-error>
                                </mat-form-field>
                            </div><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Technical Knowledge
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-radio-group class="example-radio-group" [(ngModel)]="knowledge_model">

                                    <mat-radio-button class="example-radio-button" *ngFor="let knowledges of knowledge" [value]="knowledges">
                                        {{knowledges}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Verbal Communication skills
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-radio-group class="example-radio-group" [(ngModel)]="verbal_model">
                                    <mat-radio-button class="example-radio-button" *ngFor="let verbals of verbal" [value]="verbals">
                                        {{verbals}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Type of Employment at AmberTAG
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-radio-group class="example-radio-group" [(ngModel)]="type_model">
                                    <mat-radio-button class="example-radio-button" *ngFor="let types of type" [value]="types">
                                        {{types}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Notice period from prior company (In Months)
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-form-field>
                                    -<input #noticePeriod matInput onKeyPress="if(this.value.length==2) return false;" placeholder="" [formControl]="notice_period" required [value]="">
                                    <mat-error *ngIf="notice_period.invalid">Field is required</mat-error>
                                </mat-form-field>
                            </div><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Additional comments
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-form-field>
                                    -<input #comment matInput placeholder="" [formControl]="comments" required [value]="">
                                    <mat-error *ngIf="comments.invalid">Field is required</mat-error>
                                </mat-form-field>
                            </div><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Attitude of the candidate
                            </div><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-radio-group class="example-radio-group" [(ngModel)]="attitude_model">
                                    <mat-radio-button class="example-radio-button" *ngFor="let attitudes of attitude" [value]="attitudes">
                                        <div class="rowHeight">
                                            {{attitudes}}
                                        </div>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div><br>
                        </mat-grid-tile>


                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Final Recommendation
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-radio-group class="example-radio-group" [(ngModel)]="recommandation_model" required>
                                    <mat-radio-button class="example-radio-button" *ngFor="let recommandation of recommandations" [value]="recommandation">
                                        {{recommandation}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div><br>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="text-inside-grid">
                                Average Rating (Over All)
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="text-inside-grid_right">
                                <mat-form-field>
                                    -<input type="number" matInput placeholder="" [formControl]="rate" onKeyPress="if(this.value.length==1) return false;" [value]="" max="5" required #average>
                                    <mat-error *ngIf="rate.invalid">Field is required</mat-error>
                                </mat-form-field>
                            </div><br>

                        </mat-grid-tile>
                        <br><br>
                    </mat-grid-list>
                    <mat-error class="invalid-message">{{status}}</mat-error>

                    <button mat-button class="center" [disabled]="name.invalid || phone_no.invalid || emailid.invalid || Experience.invalid || notice_period.invalid || comments.invalid || rate.invalid" (click)="postInterviewer_data(name.value,emailid.value,exp.value,phonenum.value,knowledge_model,verbal_model,type_model,noticePeriod.value,comment.value,attitude_model,recommandation_model,average.value)">
                    <mat-icon matSuffix>input</mat-icon>Submit
                </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>