<app-main-menu></app-main-menu>
<div id="container">
    <nav>
        <ul>
            <li>
                <a routerLink="/personal_details" routerLinkActive="active" class="default">
                    <i class="material-icons">person</i><br> Personal Info
                </a>
            </li>
            <li>
                <a routerLink="/skills" routerLinkActive="active" class="default">
                    <i class="material-icons">school</i><br> My Skills
                </a>
            </li>
            <li>
                <a routerLink="/project_details" routerLinkActive="active" *ngIf="projectedited" class="default">
                    <i class="material-icons">description</i><br> My Projects
                </a>
            </li>
            <li>
                <a routerLink="/skill_assess" routerLinkActive="active" *ngIf="edited" class="default">
                    <i class="material-icons">bar_chart</i><br> Skill Assessment
                </a>
            </li>
            <li>
                <a routerLink="/manager_project_details" routerLinkActive="active" *ngIf="manager_project" class="default">
                    <i class="material-icons">description</i><br> My Projects
                </a>
            </li>
            <li>
                <a routerLink="/employee_categories" *ngIf="hredited" routerLinkActive="active" class="default">
                    <i class="material-icons">group</i><br>Employees Info
                </a>
            </li>
            <li>
                <a routerLink="/all_skills" *ngIf="hredited" routerLinkActive="active" class="default">
                    <i class="material-icons">bar_chart</i><br>Skills Info
                </a>
            </li>
            <li>
                <a routerLink="/all_projects" *ngIf="hredited" routerLinkActive="active" class="default">
                    <i class="material-icons">work</i><br>Projects Info
                </a>
            </li>
            <li>
                <a routerLink="/mangerInterviwer" *ngIf="manageredited" routerLinkActive="active" class="default">
                    <i class="material-icons">announcement</i><br> Interviewee Evaluation
                </a>
            </li>
            <li>
                <a routerLink="/interviewer" *ngIf="hredited" routerLinkActive="active" class="default">
                    <i class="material-icons">question_answer</i><br> Interview Process
                </a>
            </li>
        </ul>
    </nav>
</div>