nav {
    background: #003358;
    height: 100%;
    margin-top: 50px;
    position: fixed;
    z-index: 1000;
    width: 85px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            .material-icons {
                font-size: 22px;
                text-align: center;
                padding: 0px;
            }
            a {
                color: #fff;
                padding: 20px;
                display: block;
                text-decoration: none;
                font-size: 9px;
                font-weight: bold;
                text-align: center;
            }
            a:hover {
                background-color: #2471b4;
            }
            .active {
                background-color: #2471b4;
            }
        }
    }
}

.default {
    cursor: pointer;
}

nav[_ngcontent-c2] ul[_ngcontent-c2] li[_ngcontent-c2] a[_ngcontent-c2] {
    padding: 10px;
}

nav[_ngcontent-c3] ul[_ngcontent-c3] li[_ngcontent-c3] a[_ngcontent-c3] {
    padding: 16px !important;
}

#bottom {
    margin-top: 170px;
}

.example-card {
    max-width: 400px;
    margin-left: 80px;
    margin-top: 70px;
}