<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/interviewer" routerLinkActive="active">Select Interviewer /</a>
            <a routerLink="/interviewresults" routerLinkActive="active">Interview Results /</a>
            <a routerLink="/add_employee" routerLinkActive="active">Add New Employee /</a>
            <a routerLink="/add_new_designation" routerLinkActive="active">Add New Designation /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Add New Designation</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput #designation placeholder="Designation Name" [formControl]="designations" multiple [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="designations.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <button mat-button [disabled]="designations.invalid" (click)="newdesignation(designation.value)">
                      <mat-icon matSuffix>library_add</mat-icon>ADD</button><br>
                    <mat-error class="invalid-message">{{status}}</mat-error><br>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>