<div id="container">
    <app-home></app-home>

    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/skills" routerLinkActive="active">Add Skills /</a>
            <a routerLink="/myskills" routerLinkActive="active">My Skills /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Add Skills</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <mat-select input #skilldetail placeholder="Skills" [formControl]="skill" (selectionChange)="skillsChange($event.value)" multiple [errorStateMatcher]="matcher" required>
                            <mat-option *ngFor="let skill of skills" [value]="skill">{{skill.skill_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="skill.invalid">Field is Required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select #evaluatordet placeholder="Evaluator" [formControl]="abc" (selectionChange)="detailsChange($event.value)" [errorStateMatcher]="matcher" required>
                            <mat-option *ngFor="let evaluatordetail of evaluatordetails" [value]="evaluatordetail">{{evaluatordetail.manager_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="abc.invalid">Field is Required</mat-error>
                    </mat-form-field>
                    <mat-error class="invalid-message">{{status}}</mat-error><br>
                    <button mat-button [disabled]="abc.invalid || skill.invalid" (click)="postSkills(skilldetail.value,evaluatordet.value)">
                            <mat-icon matSuffix>library_add</mat-icon>ADD</button>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>