<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Project Details</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                            <!-- Project_name -->
                            <ng-container matColumnDef="project_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Project Name</strong></th>
                                <td mat-cell *matCellDef="let element"> {{element.project_name}} </td>
                            </ng-container>

                            <!-- project_manager_name -->
                            <ng-container matColumnDef="manager_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Manager Name</strong></th>
                                <td mat-cell *matCellDef="let element"> {{element.manager_name}} </td>
                            </ng-container>

                            <!-- started_on -->
                            <ng-container matColumnDef="started_on">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Started Date</strong></th>
                                <td mat-cell *matCellDef="let element"> {{element.started_on}} </td>
                            </ng-container>

                            <!-- project_status -->
                            <ng-container matColumnDef="project_status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Project Status</strong></th>
                                <td mat-cell *matCellDef="let element"> {{element.project_status}} </td>
                            </ng-container>

                            <!-- completed_on -->
                            <ng-container matColumnDef="completed_on">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Completed Date</strong></th>
                                <td mat-cell *matCellDef="let element"> {{element.completed_on}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>