.matcard {
    float: left;
    position: relative;
    padding-bottom: 50px;
    padding-right: 10px;
    width: 90%;
    margin-top: 70px;
    margin-left: 5%;
}

.example-card {
    margin-bottom: 50px;
    box-shadow: 0 7px 4px -2px rgba(0, 0, 0, .2), 0 2px 11px 0 rgba(0, 0, 0, .14), 0 4px 10px 0 rgba(0, 0, 0, .12) !important;
}

.mat-card-content {
    font-size: 12px;
    padding: 5px;
}

.mat-card-title {
    font-size: 20px;
    color: #003358;
    border-left: 4px solid #003358;
}

p {
    color: #003358;
    margin-left: 10px;
}

button {
    background: #003358;
    color: #fff;
    height: 28px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.mat-button {
    min-width: 95px !important;
    border-radius: 7px;
    line-height: 23px !important;
    margin-left: 5% !important;
    margin-bottom: 2% !important;
    margin-top: 4% !important;
}

.mat-form-field {
    margin-left: 5% !important;
}

.mat-button:hover {
    background: rgb(202, 201, 201);
    color: #003358;
}

mat-icon {
    font-size: 16px;
    line-height: 20px;
}

.mat-elevation-z8 {
    width: 100%;
}

th {
    background: #003358;
    color: #fff;
}

.mat-cell {
    font-size: 12px;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.mat-header-cell {
    color: white;
    font-size: 12px;
}

tr.mat-header-row {
    height: 40px;
}

tr.mat-row {
    height: 40px;
}

th.mat-header-cell:first-child {
    border-top-left-radius: 7px;
}

th.mat-header-cell:last-child {
    border-top-right-radius: 7px;
}