<div id="container">
    <app-home></app-home>
    <div id="content">

        <ngx-spinner bdColor="transparent" size="default" color="rgba(51,51,51,0.8)" type="cog">
            <p style="font-size: 15px; color: rgba(51,51,51,0.8); font-weight: bold">Loading...</p>
        </ngx-spinner>

        <mat-toolbar>
            <a routerLink="/interviewer" routerLinkActive="active">Select Interviewer /</a>
            <a routerLink="/interviewresults" routerLinkActive="active">Interview Results /</a>
            <a routerLink="/add_employee" routerLinkActive="active">Add New Employee /</a>
            <a routerLink="/add_new_designation" routerLinkActive="active">Add New Designation /</a>
        </mat-toolbar>

        <div class="matcard">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <p>Interview Results</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-accordion displayMode="flat" multi class="mat-table">
                        <section matSort class="mat-elevation-z2 mat-header-row">
                            <span class="mat-header-cell" mat-sort-header="Interviewee ID">Interviewee ID</span>
                            <span class="mat-header-cell" mat-sort-header="Date of Interview">Date of Interview</span>
                            <span class="mat-header-cell" mat-sort-header="Candidate Name">Candidate Name</span>
                            <span class="mat-header-cell" mat-sort-header="Email ID">Email ID</span>
                            <span class="mat-header-cell" mat-sort-header="Candidate Phone Number">Candidate Phone Number</span>
                            <span class="mat-header-cell" mat-sort-header="Experience">Experience <br> (in Years)</span>
                            <span class="mat-header-cell" mat-sort-header="Type Of Employment">Type Of Employment</span>
                            <!-- <span class="mat-header-cell" mat-sort-header="Notice Period Time">Notice Period Time (in Months)</span> -->
                            <span class="mat-header-cell" mat-sort-header="Final Recommendation">Final Recommendation</span>
                        </section>

                        <mat-expansion-panel *ngFor="let element of interviewResults">
                            <mat-expansion-panel-header class="mat-row">
                                <span class="mat-cell">{{element.interview_id}}</span>
                                <span class="mat-cell">{{element.interview_date}}</span>
                                <span class="mat-cell">{{element.candidate_name}}</span>
                                <span class="mat-cell">{{element.email_id}}</span>
                                <span class="mat-cell">{{element.candidate_phone_number}}</span>
                                <span class="mat-cell">{{element.experience}}</span>
                                <span class="mat-cell">{{element.type_of_employment}}</span>
                                <!-- <span class="mat-cell">{{element.notice_period_time}}</span> -->
                                <span class="mat-cell">{{element.final_recommendation}}</span>
                            </mat-expansion-panel-header>
                            <pre> 
                                    <p><strong>More Details</strong></p>
                                          <table>
                                          <thead>
                                          <tr>
                                              <th>Technical Knowledge</th>
                                              <th>Verbal Communication Skills</th>
                                              <th>Notice Period Time <br>(in Months)</th>
                                              <th>comments</th>
                                              <th>Attitude</th>
                                              <th>Average Rating</th>
                                          </tr>
                                          </thead>
                                     
                                         <tbody *ngFor="let element of interviewResults">
                                          <tr>
                                          <td>{{element.technical_knowledge}}</td>
                                          <td>{{element.verbal_communication_skills}}</td>
                                          <td>{{element.notice_period_time}}</td>
                                          <td>{{element.comments}}</td>
                                          <td>{{element.attitude}}</td>
                                          <td>{{element.average_rating}}</td>
                                          </tr>
                                          </tbody> 
                                          </table>
                                      </pre>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>